.bannerAbout{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 223px;
    margin: 63px 100px 0px;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../assets/kalen-emsley-Bkci_8qcdvQ-unsplash\ 2.png);
    background-size: cover;
    border-radius: 25px;
    
}