.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin: 40px 100px 0px;
}

.Header nav a{
    margin-left: 57px;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    color: #FF6060;
    font-family: "Montserrat";
}