@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Montserrat:wght@400;500;700&family=Satisfy&display=swap');

body {
  margin : 0px;
  font-family: "Montserrrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width : 768px){
  .homePage, .aboutPage{
    padding: 0px 20px;
  }
}